.Label {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(255, 89, 0);
  padding-top: 8px;
  max-width: 240px;
}

.Label:hover {
  color: rgb(255, 89, 0);
}

.Img {
  width: 240px;
}
